
<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <title>SpringChat</title>
    <th:block th:replace="~{fragments/defaulthead :: defaulthead}"></th:block>
  </head>
  <body>
    <main class="container"> 
      <nav>
        <ul>
          <li><a href="/" class="secondary"><strong>SpringChat</strong></a></li>
        </ul>
        <ul>
          <li>
            <details class="dropdown">
              <summary role="button" class="secondary">
                Contacts
              </summary>
              <ul id="contacts" 
                hx-get="/contacts"
                hx-trigger="load"
                hx-target="#contacts"></ul>
            </details>
          </li>
        </ul>
      </nav>
      <hr>
      <section th:if="${has_contact}">
        <header>
          <h3>Messages: <span th:text="${contact_name}"></span></h3>
        </header>
        <div id="messages"
          th:attr="hx-get=@{/message(contact_name=${contact_name})}"
          hx-trigger="load, every 5s" 
          hx-target="#messages"
          hx-indicator="#chat-spinner">
        </div>
        <form 
          th:attr="hx-post=@{/message(contact_name=${contact_name})}"
          hx-trigger="submit"
          hx-target="#messages-response"
          hx-on::after-request="if (event.detail.successful) this.reset()"
        >
          <textarea name="message_text" placeholder="Type Message"></textarea>
          <button type="submit">Send</button>
        </form>
        <span id="chat-spinner" class="htmx-indicator" aria-hidden="true">Loading…</span>
        <div id="messages-response"></div>
      </section>
      <section th:unless="${has_contact}">
        <header>
          <h3>No Contact Selected</h3>
        </header>
      </section>
    </main>
  </body>
</html>
