<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> 
  <head>
    <title>SpringChat</title>
   
    <th:block th:replace="~{fragments/defaulthead :: defaulthead}"></th:block>
  </head>
  <body>
    <main class="container"> 
      <header>
        <h1>Log In</h1>
      </header>

      <!-- use the default form they use at spring boot docs -->
      <form th:action="@{/login}" method="post">
        <input name="username" placeholder="Type Username">
        <input name="password" type="password" minlength="8" placeholder="Type Password">
        <button type="submit">Log in</button>
      </form>

      <section>
      <div th:if="${param.error}">
        Invalid username and password.
      </div>
      <div th:if="${param.logout}">
        You have been logged out.
      </div>
      </section>

      <section>
        <a href="/" role="button" class="secondary">Back Home</a>
      </section>

    </main>
  </body>
</html>

