<!doctype html>
<html>
  <head>
    <title>SpringChat</title>
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.min.css">
    <script src="https://unpkg.com/htmx.org@1.9.10"></script>
  </head>
  <body>
    <main class="container"> 
      <header>
        <h1>Sign Up</h1>
      </header>

      <form hx-post="/public/signup" hx-target="#signup-result">
        <input name="username" placeholder="Type Username">
        <input name="password_unhashed" placeholder="Type Password">
        <button type="submit">Sign Up</button>
      </form>

      <div id="signup-result"></div>
      <a href="/" role="button" class="secondary">Back Home</a>  
    </main>
  </body>
</html>


